# For older GPUs (CUDA capability 6.0, e.g., Tesla P100, Titan Xp)
--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.6.0
pandas
seaborn
ipykernel
nvidia-ml-py
numpy 
scipy 
gpytorch
openml
xgboost
catboost
tabicl
flash-linear-attention==0.4.2
tabpfn
wandb
causal-conv1d
mamba-ssm
