--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.9.0
transformers==5.8.0
flash-linear-attention==0.4.2
numpy==2.4.4
pandas==3.0.3
scipy==1.17.1
scikit-learn==1.8.0
seaborn==0.13.2
matplotlib==3.10.9
ipykernel==7.2.0
nvidia-ml-py==13.595.45
gpytorch==1.15.2
openml==0.15.1
xgboost==3.2.0
catboost==1.2.10
tabicl==2.1.1
tabpfn==7.1.1
wandb==0.26.1
